html, body {
  height: 100%;
}

body { background: #fece3e !important; }

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.date {
	font-family: 'Poppins', sans-serif;
	font-size: 150px; 
	color: #0066FF;

}
